.footer {
    background-color: var(--main-header-bg);
    color: var(--contrast-text);
    padding: 1.5em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: var(--text-hover);
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 0.5em;
}

.copyright span {
    font-weight: bold;
    color: var(--main-header-text);
}