.footer {
    background-color: black;
    color: white;
    padding: 1.5em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list li:hover {
    color: #5DB5C2;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copyright {
    margin-top: 0.5em;
}

.copyright span {
    font-weight: bold;
    color: #5DB5C2;
}