.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-header-bg);
  padding: 1em;
}

.active {
  border-bottom: 2px solid var(--main-header-text);
  color: var(--main-header-text);
  font-weight: 600;
}

.logo {
  display: flex;
  justify-content: flex-start;
  color: var(--contrast-text);
  font-size: 40px;
  font-weight: 500;
}

.logo svg {
  color: var(--contrast-text);
  height: 50px;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
  color: var(--contrast-text);
  text-decoration: none;
}

.item a:hover {
  color: var(--main-header-text);
}
