:root {
    --bg: #f9fafb;
    --text: #1f2937;
    --header-bg: #ebf4ff;
    --hover: #f1f5f9;
    --input-border: #cbd5e1;
    --pagination-bg: #3b82f6;
    --pagination-hover: #2563eb;
  }
  
  [data-theme='dark'] {
    --bg: #1f2937;
    --text: #f3f4f6;
    --header-bg: #374151;
    --hover: #4b5563;
    --input-border: #4b5563;
    --pagination-bg: #4f46e5;
    --pagination-hover: #4338ca;
  }
  